h1 {
    text-align: center;
    color: rgb(218, 104, 11);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Barrio;
    src: url()
  }
  
  h1 {
    font-family: Barrio;
  }

  body {
    background-image: url("cod-zombies-black-ops-3-peaked-activsion-call-of-duty-cold-war-vanguard-zombies.jpg");
  }

ul {
    text-align: top;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 104, 11);
    font-weight: bold;
    font-style: italic;
    display: center;

}
.dropdown-{
  position: relative;
  display: inline-block;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  margin-inline-start: auto;
}

/* Navbar links */
.navbar a {
  float: center;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: rgb(218, 104, 11);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
